* {
  box-sizing: border-box;
}

.naver-box {
  width: 750px;
  background-color: #f3f3f3;
  border: 1px solid #888;
  border-radius: 7px;
  padding: 15px;
}

.channel-list {
  /*UL에 적용된 패딩을 제거한다.*/
  padding: 0;
  /*UL에 적용된 마진을 제거한다.*/
  margin: 0;
}

.channel {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: 0 15px 0 0;
}

.game-title {
  color: #3f2bf2;
  font-weight: 600;
  text-align: left;
  margin: 0;
  margin: 5px 0 5px 0;
}

.broadcast-title {
  color: #333;
  font-weight: 600;
  text-align: left;
  margin: 5px 0 5px 0;
}

.channel-name {
  color: #666;
  font-weight: 500px;
  text-align: left;
}

.channel-profile {
  text-align: left  ;
}

.thumbnail {
  width: 100%;
}

.coupang-box {
  width: 650px;
  padding: 15px;
  border: 1px solid #888;
  margin-bottom: 300px;
}

.product-list {
  margin: 0;
  padding: 0;
}

.product50 {
  display: inline-block;
  width: 45%;
  border: 1px solid #888;
  margin: 5px 5px 5px 5px;
}

.product25 {
  display: inline-block;
  width: 21.8%;
  border: 1px solid #888;
  margin: 0 5px 5px 5px;
}

.product-image {
  width: 100%;
  height: 200px;
}